@model itcast.crm16.model.ModelViews.sysFunctionView

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        @Html.TextBoxFor(c => c.fName)
    </div>
</body>
</html>
